<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>{% block title %}{% endblock %} - My Webpage</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        {{ bootstrap.load_css() }}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/index.css') }}">
        <script></script>
        <script></script>
    {% endblock %}
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer" class="py-3">{% block footer %}{% endblock %}</div>
        {{ bootstrap.load_js() }}
    </body>
</html>