{% block motor_sensor %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th style="text-align: center;">1</th>
            <th style="text-align: center;" >2</th>
        </tr>
        <tr>
            <th>Motor</th>
            <th style="background-color: rgb(0, 128, 0); text-align: center;">On</th>
            <th style="background-color: rgb(0, 128, 0);">On</th>
        </tr>
        <tr>
            <th>Hepa Drops</th>
            <th colspan="2" style="background-color: rgb(0, 128, 0); text-align: center;">0.4</th>
        </tr>
    </thead>
</table>
{% endblock %}